*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width:100%; 
	overflow:hidden;
    background: #008080;
    height: 15rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	z-index: 1;
	position:fixed;
}
.wrapper {
	width:90%; 
	max-width: 110rem; 
	margin:auto;
	overflow:hidden;
}
 
header .logo {
	color:#f2f2f2;
	font-size: 5rem;
	line-height: 18rem;
	float:left;
}
 
header nav {
	float:right;
	line-height:20rem;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding: 1rem 2rem;
	line-height:normal;
	font-size: 2rem;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius: 5rem;
}
main {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
	align-items: center;
}

section {
	background: rgb(198, 255, 123);
    width: 100%;
	max-width: 90rem;
	top: 15rem;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  0 1rem 1rem 0 rgba(90,116,148,0.3);
}
section .instrucciones h1{
	margin-bottom: 1rem;
    font-size: 2rem;
    color: darkslategray;
}
section .instrucciones p {
	margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: justify;
}
.desarrollo label{
	display: block;
	color: #7d8994;
	margin-bottom: 2.4rem;
	font-size: 2rem;
}
.desarrollo input{
	border: 0.2rem solid #CED6E0;
	font-size: 1.8rem;
	height: 5rem;
	width: 100%;
	padding: 0.5rem 1.2rem;
    border-radius: 5px;
    margin-bottom: 0.6rem;
    margin-top: -1rem;
}
button {
	border: none;
	padding: 1rem;
	font-size: 2.2rem;
	color: #fff;
	background: #2364d2;
	box-shadow: 0.2rem 0.2rem 1rem 0rem rgba(0,85,212,0.4);
    cursor: pointer;
    border-radius: 5px;
}
.resultado p{
	margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: justify;
}
.resultado span{
	margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: justify;
}